*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

.container{
    position: fixed;
    display: grid;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    grid-template-columns: 1fr 1fr;
}

.main-content{
    margin-left: 9%;
}

.about-me{
    margin-top: 7%;
}

.lang-switcher{
    margin-top: 3%;
}

.about-me h1 {
    font-size: 50px;
    color: #212121;
    margin-bottom: 30px;
}

span{
    color: orange;
}

.about-me p {
    color: black;
    line-height: 37px;
    font-size: 30px;
    margin-bottom: 40px;
}

.about-me b {
    font-size: 35px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 80%;
    bottom: 15%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s; 
}

.images:hover .myself{
    left: 70%;
}

.translate {
    width: 43px;
    height: 33px;
    border: 0;
    padding: 0;
}

.lang{
    display: inline-block;
}